.container{
    width: 97%;
height: 100%;
padding: 20px;
}
.navbar{
display: flex;
font-size: 30px;
justify-content: space-between;
font-weight: 700;


}
.remove{
text-decoration: none;
}
.aboutpic{
display: flex;
justify-content: space-between;
width: 100%;
height: 500px;
}
.me{
display: flex;
justify-content: center;
align-items: center;
padding-left: 20px;
width:50%;
font-size: 70px;
font-weight: bold;
font-style: italic;
color: white;
}
.image{
display: flex;
justify-content: center;
align-items: center;
width:50%;

}
body{
background-color:black;
}
.mypic{
    height: 400px;
    width: 400px;
    border-radius: 200px;
}
.About1{
height: 150px;
width: 100%;
color: white;
font-size: 35px;
}
.Skills1{
    height: 250px;
    width: 100%;
    font-size: 35px;
    color: white;
    padding-bottom: 20px;
    margin: 10px;
    }
    .Education1{
        height: 400px;
        width: 100%;
        color: white;
        font-size: 35px;
        margin-top: 25px;
        }
        .Work1{
            height: 300px;
            width: 100%;
            color: white;
            font-size: 35px;
            }
            .Projects1{
                height: 300px;
                width: 100%;
                color: white;
                font-size: 35px;
                }
                .Contact1{
                    height: 300px;
                    width: 100%;
                    color: white;
                    font-size: 35px;
                    
                    }
.Edit1{
    font-size: 20px;
    padding-top: 10px;
}


.skillscontainer1,.skillscontainer2,.skillscontainer3 {
    width:100%;
    border-radius:10px ;
    margin: 10px;
  }
  
  .html {width: 90%; background-color: #04AA6D; border-radius: 10px; text-align: right;} /* Green */
  .css {width: 70%; background-color: #2196F3; border-radius: 10px; text-align: right;} 
  .js {width: 30%; background-color: brown; border-radius: 10px; text-align: right;} 
  
  .sizefixed{
    font-size: 25px;
    margin: 20px 0px 0px 20px;
  }
  .listsize{
    font-size: 20px;
  }
  .info{
    line-height: 10px;
  }
  .sizefit{
    display: flex;
    justify-content: space-around; 
    margin: 15px;
  }
  .sabzi{
    height: 100%;
    width: 80%;
  }
  .size{
    font-size: 25px;
  }
  .contacthere{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px;
    padding-right: 50px;
    padding-left: 0px;

    
  }
  .email, .instagram, .github , .facebook ,.linkedin , .call, .addrss{
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }
  .phone, .address{
    font-size: 20px;
    margin: 20px;
  }
 
  @media screen and (max-width:768px) {
    .navbar , .Skills1 , .Education , .Projects , .Contact , .navbar , .image , .container {
        width:50%;
    }
    .About{
        width:100%;
    }
    
    .aboutpic{
        
    }
    .remove{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}